/****OPENSEADRAGON RELATED STYLES****/
html {
	position: absolute;
	width: 100%;
	height: 100%;
}
body {
	position: relative;
	width: 100%;
	height: 100%;
}

#viewer-fullpage-container {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #000;
}

#primary {
	width: 100%;
	height: 100%;
	position: relative;
}

#content > .openseadragon {
	width: 100%;
	height: 40vw;
	position: relative;
}

.openseadragon {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #000;
	overflow-y: hidden;
}

.openseadragon-flex-container {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
}

.openseadragon_viewer {
	width: 100%;
	height: 100%;
	background: #000;
	top: 0px;
	position: relative;
	flex: 0.6;
}

.openseadragon_viewer .tmp-img {
	display: none;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.openseadragon-container textarea, .openseadragon-container button {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.referencestrip {
	z-index: 5 !important;
	top: 60px !important;
	background: none !important;
}

.navigator-container{
	height: inherit;;
	width: inherit;
	position: absolute;
}

#viewer-navigator{
	position: relative;
	float:right;
	width: 145px;
	height: 120px;
	top: 50%;
}

/****TRANSCRIPTION SECTION STYLES****/

#item-transcription{
	opacity: 1;
}

.hiddenHeader {
    display: none;
}

.tei-viewer{
		display: block;
    z-index: 3;
		width: 100%;
		height: 100%;
		flex: 0.3;
		background-color: rgba(33,33,31,0.9);
}

#tei-viewer.hidden{
	opacity: 0;
}

#tei-viewer.show{
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


.pb {
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 60px 30px;
	height: auto;
	/* overflow: auto; */
	border: none;
	font-size: 17px;
}

/****METADATA SECTION STYLES****/

#item-metadata {
	opacity: 1;
	position: relative;
	height: 100%;
	width: 100%;
	flex: 0.3;
	overflow-y: scroll;
	-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	background-color: rgba(33,33,31,0.9);
}

#item-metadata-element:first-child {
	padding-top: 60px;
}

#item-metadata.hidden{
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#item-metadata.show{
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#item-metadata .item-metadata-element{
	position: relative;
	display: block;
	padding: 10px;
	margin-left: 5px;
	color: #fff;
	font-size: 15px;
}

#item-metadata .item-metadata-element h4{
	position: relative;
	color: #9e9e9e;
	font-size: 13px;
	/* border-bottom: 1px solid #ccc; */
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	/* padding: 5px 0!important; */
	margin: 0px 0!important;
	text-transform: uppercase;
}

.tei-container #item-metadata .item-meta-value {
	height: auto;
	width: 90%;
	margin: 1vw;
	line-height: 2vw;
	word-wrap: break-word;
}

/**** TOOLBAR SECTION STYLES ****/
.toolbar div {
    padding: 10px;
}

.toolbar {
    position: relative;
		text-align: center;
		width: 100%;
		height: auto;
		display: block;
		color: #fff;
		margin: 0 auto;
		font-size: 15px;
		top: 0px;
		border-bottom: 1px solid #141413;
}

.toolbar div {
	display: none;
}

.toolbar .toolbar-button {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
#toggle-metadata, #toggle-transcription {
	color: #fff;
	visibility: visible;
	position: relative;
	display: inline-block;
	top: -3px;
}

#page-count {
	position: relative;
	top: -5px;
	display: inline-block;
}

#viewer-controls {
    z-index: 4;
    display: block;
    position: relative;
}

/*** Modal Display ***/
.modal-display {
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}
.modal-display.show {
	position: absolute;
	display: block;
	opacity: 1.0;
}

.modal-display.remove {
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

/*** Loading Screen ***/
#loading-overlay-container {
	position: absolute;
  width: 100%;
	height: 100%;
	top: 0px;
	background: #000 !important;
	border: none !important;
	opacity: 1.0;
	z-index: 3000;
	-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

#loading-overlay-container.show {
	opacity: 1.0;
}

#loading-overlay-message {
	position: relative;
	margin: 0 auto;
	top: 50%;
	color: #fff;
	opacity: 1.0;
}

#loading-overlay-message.display {
	-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
	opacity: 1.0;
}

#loading-overlay-container.remove {
	-webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
	opacity: 0;
}

/** Video Player **/
#video-viewer {
	position: relative;
	top: 25px;
	width: 75%;
}

#video-controls {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 3;
	background: none;
}

#video-controls #back {
	position: relative;
	left: 20px;
}

/** Audio Player **/
.rej-audio {
	position: relative;
	top: 5px;
}

#progress-audio {
	position: relative;
	background-color: #2e2e2c;
	display: inline-block;
	border-radius: 2px;
}

#progress-audio > #progress-inner {
	background-color: rgba(255, 255, 255, 0.7);
	width: 0%;
	height: 30%;
	display: inline-block;
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0;
	border-radius: 30px;
}

#duration-audio {
	position: relative;
	top: -3px;
}

/** TODO put some of this in a custom css file **/
/** Navigator **/
.displayregion {
	border: 2px solid rgb(100, 100, 100) !important;
}


/***************** NAV MENU *************************/

#primary-nav-viewer {
	position: relative;
	z-index: 5000;
	background: #000;
	font-family: inherit;
	display: flex;
	align-items: center;
}

#primary-nav-viewer .navigation {
	position: relative;
}

#primary-nav-viewer .navigation li {
	list-style: none;
	padding: 5px;
	font-size: 16px;
}

#primary-nav-viewer .navigation li a {
	text-decoration: none;
	color: #fff;
}

#primary-nav-viewer .nav-viewer-home-icon {
	padding: 10px;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}

#primary-nav-viewer .nav-viewer-home-icon img {
	max-width: 150px;
	max-height: 150px;
}

#primary-nav-viewer .navigation li {
	border-left: 2px solid rgba(100, 100, 100, 0.5);
	padding: 10px;
}

#primary-nav-viewer .navigation li ul {
	position: absolute;
	display: none;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

#primary-nav-viewer .navigation li ul.hide {
	opacity: 0 !important;
	transition: 0.5s opacity ease-in-out;
}

#primary-nav-viewer .navigation li ul.show {
	opacity: 1 !important;
	transition: 0.5s opacity ease-in-out;
}

#primary-nav-viewer .navigation li ul.fade-in {
	display: block;
	opacity: 0;
}

#primary-nav-viewer .navigation li ul.fade-out {
	display: none;
	opacity: 0;
}

#primary-nav-viewer .navigation li ul li a {
	color: #fff;
	padding-bottom: 5px;
}

/**************** Gallery Browse ********************/

#gallery-sort-links {
	font-size: 16px;
	width: 50%;
	display: flex;
	padding: 10px;
	border: 1px solid rgba(100, 100, 100, 0.5);
	width: auto;
}

#gallery-sort-links .sort-label {
	color: #fff;
	display: inline !important;
}

#gallery-sort-links #sort-links-list {
	display: flex !important;
	margin: 0;
	list-style: none;
	justify-content: flex-start;
	padding-left: 5px;
}

#gallery-sort-links #sort-links-list li a {
	padding-right: 10px;
	text-decoration: none;
	color: #fff;
}

#gallery-sort-links #sort-links-list li a:after {
	text-decoration: none;
	color: #fff;
}

/** Lazy Loading on browse page **/

.item-type-description {
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 60%;
	padding: 20px;
	color: #fff;
	font-size: 18px;
	border-bottom: 1px solid rgb(50,50,50);
}

.item-type-title {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	color: #fff;
	padding-top: 10px;
}

.item-records {
	justify-content: center;
	position: relative;
	display: flex;
	padding-top: 30px;
	width: 80%;
	margin: 0 auto;
}

.item-flexbox-record-link {
	position: relative;
	width: 100%;
	height: 100%;
}

.item-flexbox-record-link .item-img img {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.item-flexbox-record-link .item-img img.pre-loading {
	display: block;
	width: 100%;
	height: auto;
	min-height: 300px;
	opacity: 0;
}

.item-flexbox-record-link .item-img img.loading {
	display: block;
	width: 100%;
	height: auto;
	min-height: 300px;
	opacity: 0;
}

.item-flexbox-record-link .item-img img.loaded {
	display: block;
	width: 100%;
	height: auto;
	opacity: 1.0;
	min-height: 0px;
	transition: opacity 1s ease-in;
}

.item-flexbox-record-link .item-img i {
	display: block;
	width: 100%;
	height: auto;
	opacity: 1.0;
	min-height: 0px;
	font-size: 20vw;
	transition: opacity 1s ease-in;
	text-align: center;
}

.item-flexbox-record-link .item-img img:not([src]) {
	visibility: hidden;
}


.item-flexbox-record {
	position: relative;
  display: inline-block;
	margin: 5px;
  left: 0;
	width: auto;
	height: auto;
}

.item-flexbox-record-title {
	color: white;
	line-height: 1.5vw;
	font-size: 1vw;
	text-align: center;
	background-color: rgba(0,0,0, 0.7);
	z-index: 30;
	width: 100%;
	position: absolute;
	left: 0;
}
